/* Let's make use of our framework, and minimize our own CSS */

/* HTML */

body {
    overflow-x: hidden;
    font-size: 12px;
}

td {
    vertical-align: top;
}

td {
    vertical-align: center;
}

thead, th {
    background: #f3f3f3;
    border-bottom: none;
}

tbody {
    border-top: 1px solid #e5e5e5;
}

tfoot {
    font-weight: bold;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 14px;
}

/* BOOTSTRAP CORE CUTOMIZER */

.navbar-default {
    background: #fff;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,.20);
}

.btn {
    font-size: 12px;
}

.navbar-text {
    margin: 10px;
}

.container-fluid {
    padding: 0 5px 0 5px;
}

.table {
    margin: 0;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 10px 15px 10px 15px;
}

/* NANOSCROLLER */

.nano .nano-content { 
    padding: 10px 30px 10px 20px; 
}

.nano .nano-pane   { 
    margin: 10px; 
    background: rgba(255,255,255,.25); 
}

.nano .nano-slider { 
    background: #fff !important; 
}

/* CORE LAYOUT ITEMS */

/* APP PANELS AND SEGMENTS */

#main-bar {
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0;
}

#footer-bar {
    border-radius: 0px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 0;
}

#sidebar {
    
    position: absolute;
    background: #555;
    color: rgba(255,255,255,.9);
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select:none;
    -ms-user-select: none;
    user-select: none;
}

#sidebar ul, li {
    display: block;
    padding: 0px;
}

#sidebar > div > ul {
    padding-top: 10px;
}

#sidebar > div > ul > li {
    padding-bottom: 5px;
}

#sidebar > div > ul > li ul > li {
    padding-bottom: 10px;
}

#sidebar a {
    display: block;
    color: rgba(255,255,255,.9);
}

#sidebar a:hover {
    color: #fff;
    text-decoration: none;
}

#sidebar h4 {
    cursor: pointer;
    display: block;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

#sidebar h4:hover {
    color: #fff;
}

#main-content {
    width: 100%;
    position: absolute;
    background: #fff;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,.3);
}

#content-container {
    overflow: auto;
}

.main-window-segment {
    padding: 0 10px;
    color: #fff;
    background: #0077b6;
    border-bottom: 4px solid #00a7ff;
}

.main-window-segment .btn-default {
    color: #fff;
    background: #0077b6;
    border: 1px solid #fff;
}

.main-window-segment .btn-default:hover {
    color: #0077b6;
    background: #fff;
    border: 1px solid #fff;
}

#table-container {
    overflow: auto;
}

/* STYLING CLASSES */

/* Minor styling assists */

.vertical-padded {
    padding-top: 10px; padding-bottom: 10px;
}

.bottom-padded {
    padding-bottom: 20px;
}

.top-padded {
    padding-top: 20px;
}

.vertical-padded-little {
    padding-top: 5px; padding-bottom: 5px;
}

.bottom-padded-little {
    padding-bottom: 10px;
}

.top-padded-little {
    padding-top: 10px;
}

.bottom-segmented {
    border-bottom: 1px solid;
}

.top-segmented {
    border-top: 1px solid;
}

.white-segment-separator {
    border-top: 1px solid rgba(255,255,255,.5);
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
    
}

.align-center {
    text-align: center;
}

.fullwidth {
    width: 100%;
}

/* -----Hapus setelah stabil----- */

.ratakiri {
    text-align: left;
}

.ratakanan {
    text-align: right;
}

.ratatengah, .mid {
    text-align: center;
}

/* ----------------------------------- */

/* COLORIZATION */

/* Glow untuk accent dengan warna logo SPAN */

.glow-span-blue {
    box-shadow: 0px 0px 20px 1px rgba(0,119,182,.20);
}

.glow-span-orange {
    box-shadow: 0px 0px 20px 1px rgba(241,187,0,.20);
}

.glow-span-red {
    box-shadow: 0px 0px 20px 1px rgba(218,37,37,.20);
}

.glow-span-purple {
    box-shadow: 0px 0px 20px 1px rgba(103,28,113,.20);
}

/* Border untuk accent dengan warna logo SPAN */

.border-span-blue {
    border-color: #0077b6;
}

.border-span-orange {
    border-color: #f1bb00;
}

.border-span-red {
    border-color: #da2525;
}

.border-span-purple {
    border-color: #671c71;
}

.border-white {
    border-color: #fff;
}